{% extends "me/base.html" %}

{% block title %}简历－张成涛{% endblock %}

{% block content %}
    <section class="section_block">
        <h3>一个人的敏捷开发</h3>
        <p>首先确定产品功能，也就是网页的结构和内容，将展示的关键字写在纸上，辅助思考。
            <!--<img src="{{ url_for('me.static', filename='app/img/plan.jpg') }}">-->
            <img src="http://7s1srd.com1.z0.glb.clouddn.com/me/plan.jpg">
        </p>
        <p>将功能写到Trello中，根据优先级排序，尽量详细描述功能特点，写功能验收标准。创建产品队列，任务队列，
            TODO任务队列，DOING任务队列，TESTING任务队列和DONE任务队列。
            <!--<img src="{{ url_for('me.static', filename='app/img/tre.png') }}">-->
            <img src="http://7s1srd.com1.z0.glb.clouddn.com/me/tre.png">
        </p>
        <p>做减法，选择一个最小化功能集合作为产品做第一版本。
        </p>
        <p>在产品的功能基本确定之后，将功能拆分成可控时间内可实现的任务，对任务的复杂度和实现时间进行
            进行评估
        </p>
        <p>设定迭代周期，一般为一周或两周，因为工作量本来就很小，所以就设定为一周，然后将一周能完成的任务
            拖动到TODO队列。
        </p>
        <p>
            产品开发中，领取任务，放到DOING队列，完成后放到TESTING队列，测试之后放入DONE队列。
        </p>
        <p>
            为什么我要写这一页内容，我希望可以表达我对于团队合作的观点。项目是由团队完成，团队协作很重要，
            如何激励团队高效开发，如何让项目进度透明，让每个成员都能感受到项目的推进，如何合理的估算开发进度，
            使所有相关工作可以有所参考，是一个开发团队应该掌握的基本技能。
        </p>
    </section>
    <section class="feed_flow">

    </section>

{% endblock %}