{% extends "me/base.html" %}

{% block title %}简历－张寻{% endblock %}

{% block content %}
    <section class="section_block">
        <h4>我为什么要写了这个网页版简历</h4>
        <h3>因为我想表达，完整的表达。</h3>
        <p>一个人的思维模式决定一个人的行为模式，以这个网页的开发实现来看我的思维模式。
        </p>
    </section>
    <section class="section_block">
        <h3>一个人的敏捷开发</h3>
        <p>当我决定完成一份简历的时候，我选择了敏捷开发方式，一个人的团队协作。
        </p>
        <p>
            敏捷首先从产品开始，
            首先确定产品功能，也就是网页的结构和内容，将功能排序，突出自己想表达的，然后功能做减法
            ,寻找一个最小化产品做第一版本。

        </p>
        <p>
            在产品的功能大致确定之后，将功能拆分成可控时间内可实现的任务卡，决定验收标准，对任务的复杂度
            进行评估
        </p>
        <p>
            产品实现，按照产品功能和任务的优先级快速的开发实现。
        </p>
    </section>
    <section class="feed_flow">

    </section>

{% endblock %}