<html lang="zh-CN">
<head>
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
    <section class="foot">
        <p>
            <a class='contact_us' href="{{ url_for('.us') }}">联系我们</a>
			<a class='company_info' href="{{ url_for('.company') }}">公司简介</a>
        </p>
		<p class="copy_right">版权所有：北京精算科技有限公司   备案号：浙ICP备14025266号-1</p>
    </section>
</body>
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?5eea630591b61f7c318d211c3379ec82";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>
</html>