{% extends "base.html" %}

{% block title %}公司简介{% endblock %}

{% block content %}
<div id="company" class="container-fluid">
    <!-- 头部标题 -->
    <section id="content">
        <h2 class="title">公司简介:</h2>
        <p>
        北京精算科技有限公司是一家提供互联网广告传播服务与技术平台服务的高新技术企业，致力通过对大数据进行分析，从而进行精准营销，为广告主服务。
        </P><p>
        整合展示类广告、视频广告、移动广告等资源，为客户量身定制广告投放解决方案，并通过大数据挖掘与学习算法提升广告展示效果，实现广告效益的最大化。
        </p><p>
        技术成熟、体制完善的网络广告技术供应商，为广大网络媒体、网络营销服务商及网络广告主提供了专业而贴心的网络技术服务，迅速成为了中国互联网广告行业的新锐力量。
        </p>
    </section>
</div>
{% endblock %}